/* Parts of code came from  Chris Bracco
*  I'm just trying to figure out how to properly place a
*  footer to be on the bottom on the page no matter what
*  the length of the content. So big thanks to him! */

/* general variables */
:root {
    /* variables for the list background */
    --list-odd: #8ed081;
    --list-even: #b8d1b3;
    --list-hover: #b3e2aa;
    --list-active: #60b54f;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    transition: font-size .2s;
}

a, a:visited {
    box-sizing: inherit;
    color: black;
    display: block;
    text-decoration: none;
}

#motherContainer {
    min-height: 100%;
    position: relative;
}

/*
*
*       HEADER
*
*/
#header {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em 1em .2em 1em;
    text-align: center;
}

/*
*
*       MAIN SECTION
*
*/
#mainContainer {
    font-size: 1.2rem;
    margin: 0 auto;
    max-width: 800px;
    padding: .5em 1em 2em;

}



/*
*
*       BUTTON STYLINGS
*
*/

#main-linkContainer {
    display: grid;
    grid-gap: 8%;
    grid-template-areas:
        "url    url    url"
        "name   name   name"
        ".      add    ."
    ;
}

#inputLink {
    grid-area: url;

    font-size: 1.2em;
}

#inputName {
    grid-area: name;

    font-size: 1.2em;
}

#addLink {
    grid-area: add;

    font-size: 1.2em;
}

/*
*
*       LINK CONTAINER
*
*/
#mainContainer #savedLinks {
    overflow-wrap: break-word;
    overflow-y: scroll;
    height: 450px;
    min-height: 20%;
    margin: 1em 0 3em;
}

#savedLinks ul {
    background: #efefef;
    list-style: circle;
}

#savedLinks ul li:nth-child(odd) {
    box-sizing: content-box;
    background: var(--list-odd);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    padding: 1em;
    transition: .1s;
}


#savedLinks ul li:nth-child(even) {
    box-sizing: content-box;
    background: var(--list-even);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15em;
    padding: 1em;
    transition: .1s;
}

#savedLinks ul li:hover {
    background: var(--list-hover);
    list-style: disc;
    transition: .2s;
}

#savedLinks ul li:active {
    background: var(--list-active);
    transition: .2s;
}

@media screen and (max-width: 700px) {
    #savedLinks ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

/*
*
*       FOOTER
*
*/
#footer {
    background: #efefef;
    bottom: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    left: 0;
    padding: .5em;
    position: absolute;
    right: 0;
    text-align: center;
}
